<%- include("partials/header") %>

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% blogs.forEach(function(blog, index) { %>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text">
              <%= blog.content.length > 100 ? blog.content.substring(0, 100) + "..." : blog.content %>
            </p>
            <a href="/show/<%= index %>" class="btn btn-primary">Continue Reading</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<%- include("partials/footer") %>
